.main__PopularAuthors {
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.main__PopularAuthors__bigtitle {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main__PopularAuthors__info {
  display: flex;
  width: 500px;
}

.main__PopularAuthors img {
  width: 160px;
  height: 180px;
  border-radius: 10px;
}

.main__PopularAuthors__text {
  margin-left: 30px;
}

.main__PopularAuthors__text div {
  font-size: 28px;
}

.main__PopularAuthors__text p {
  width: 240px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
